<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
<!-- 菜单栏部分 -->
<div class="course-left">
    <div class="course-title">
        &nbsp;<img src="img/course.png" width="32" height="26"/>
        选课教务系统
    </div>
    <div class="course-subtitle">
        教师菜单
    </div>
    <ul class="course-menu">
        <li name="index">
            <span class="glyphicon glyphicon glyphicon-home"></span>
            &nbsp;&nbsp;首页
        </li>
        <li name="info">
            <span class="glyphicon glyphicon glyphicon-user"></span>
            &nbsp;&nbsp;信息修改
        </li>
        <li name="add">
            <span class="glyphicon glyphicon glyphicon-check"></span>
            &nbsp;&nbsp;开设课程
        </li>
        <li name="course">
            <span class="glyphicon glyphicon glyphicon-hand-right"></span>
            &nbsp;&nbsp;课程管理
        </li>
        <li name="student">
            <span class="glyphicon glyphicon glyphicon-user"></span>
            &nbsp;&nbsp;学生管理
        </li>
        <li name="exit">
            <span class="glyphicon glyphicon glyphicon-log-out"></span>
            &nbsp;&nbsp;退出登录
        </li>
    </ul>
</div>
</header>
</html>